body
{
  background-color:black;
}

x {
        display: inline-block;
        font-size: 5px;
        width:5px;
        height:5px;
        line-height:2px;
    }

    x:hover{
        outline:solid 1px goldenrod;
        transition:unset outline .5s ease;
    }

    r {
        display: block;
        height:5px;
    }

    #hid {
        display: none;
    }

    #my-image {
    }
    #here{
        display:block;
        position:relative;
        margin:10px auto;
    }